*{
  /* box-sizing: border-box; */
}

p{
  max-width: 500px;
  background-color:rgb(216, 161, 141);
  padding: 12px;
}

section{
  border: 5px solid black;
  padding:1rem;
  margin: 1rem;
  width: 50%;
  height: 300px;
}
h2{
  width: 50%;
  background-color:rgb(141, 161, 216);
  padding: 12px;
  /* padding: 10%; */
  height: 10%;
}
