.interview{
  padding: 40px;
  margin: auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

body {
  background-color: #e0f7fa;
  padding-left: 20px;
  margin: auto;
  max-width: 800px;
  margin-bottom: 40px;
}